@import url(https://cdn.jsdelivr.net/font-hack/2.010/css/hack.min.css);
/*! HTML5 Boilerplate v5.0 | MIT License | http://h5bp.com/ */
*,
*:before,
*:after {
  box-sizing: border-box;
}
html,
body {
  height: 100%;
  font-family: "Hack", Helvetica, Helvetica Neue, Arial;
  -webkit-font-smoothing: antialiased;
}
html {
  color: #222;
  font-size: 1em;
  line-height: 1.4;
  overflow-x: hidden;
}
::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}
::selection {
  background: #b3d4fc;
  text-shadow: none;
}
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}
audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}
fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}
textarea {
  resize: vertical;
}
.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}
/* ===== Initializr Styles ==================================================
   Author: Jonathan Verrecchia - verekia.com/initializr/responsive-template
   ========================================================================== */
.wrapper {
  width: 90%;
  margin: 0 5%;
}
.h-full {
  height: 100%;
}
/* ==========================================================================
   Author's custom styles
   ========================================================================== */
.bg-1 {
  background: #2c3e50;
}
.bg-2 {
  background: #2980b9;
}
.bg-3 {
  background: #8e44ad;
}
.bg-white {
  background: white;
}
.no-padder {
  padding: 0;
}
header {
  padding: 30px 0;
  height: 90px;
  overflow: hidden;
}
header .site-title {
  float: left;
  padding: 5px 0;
}
header .site-title a {
  text-decoration: none;
  color: #333;
}
header .search {
  float: right;
}
header .search input {
  font-size: 12px;
}
.bg {
  background: url('../img/base.png') repeat #f9fafb;
  position: fixed;
  width: 200%;
  height: 100%;
  z-index: -1;
  -webkit-animation: space 250s infinite;
  animation: space 250s infinite;
}
@-webkit-keyframes space {
  0%,
  100% {
    -webkit-transform: translateX(0);
  }
  50% {
    -webkit-transform: translateX(-50%);
  }
}
@keyframes space {
  0%,
  100% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(-50%);
  }
}
.box {
  width: 100%;
  padding: 30px;
  color: white;
}
.box h1,
.box h3 {
  font-weight: 100;
}
.box h2,
.box h4,
.box h5 {
  font-weight: normal;
}
.box h3 {
  font-size: 30px;
  margin: 30px 0 0;
}
.box h4 {
  margin: 10px 0;
}
.box h5 {
  margin: 5px 0;
  opacity: 0.5;
}
.box a {
  color: white;
}
.box .links {
  list-style-type: none;
  margin: 0px 0 20px 0;
  padding: 0;
}
.box .links a {
  display: inline-block;
  clear: both;
}
.box .links span {
  opacity: 0.4;
}
.box.box-1 {
  margin-top: 150px;
}
.box.box-2 {
  margin-top: 50px;
}
.box.box-3 {
  margin-top: 300px;
}
.h-full-body {
  height: calc(100% - 90px);
}
.sidebar {
  height: 100%;
}
.page-content {
  padding: 30px 40px;
  overflow: scroll;
}
/* ==========================================================================
   Media Queries
   ========================================================================== */
@media only screen and (min-width: 320px) and (max-width: 640px) {
  .box {
    margin: 0 !important;
  }
}
@media only screen and (min-width: 640px) and (max-width: 768px) {
  .box {
    margin: 20px 0 0 !important;
  }
}
@media only screen and (min-width: 1140px) {
  .wrapper {
    width: 1026px;
    /* 1140px - 10% for margins */
    margin: 0 auto;
  }
}
@media only screen and (max-width: 767px) {
  .sidebar {
    height: auto;
  }
  .page-content {
    padding: 30px 40px;
    height: auto;
  }
}
/* ==========================================================================
   Helper classes
   ========================================================================== */
.hidden {
  display: none !important;
  visibility: hidden;
}
.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}
.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
}
.invisible {
  visibility: hidden;
}
.clearfix:before,
.clearfix:after {
  content: " ";
  display: table;
}
.clearfix:after {
  clear: both;
}
.clearfix {
  *zoom: 1;
}
/* ==========================================================================
   Print styles
   ========================================================================== */
@media print {
  *,
  *:before,
  *:after {
    background: transparent !important;
    color: #000 !important;
    box-shadow: none !important;
    text-shadow: none !important;
  }
  a,
  a:visited {
    text-decoration: underline;
  }
  a[href]:after {
    content: " (" attr(href) ")";
  }
  abbr[title]:after {
    content: " (" attr(title) ")";
  }
  a[href^="#"]:after,
  a[href^="javascript:"]:after {
    content: "";
  }
  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }
  thead {
    display: table-header-group;
  }
  tr,
  img {
    page-break-inside: avoid;
  }
  img {
    max-width: 100% !important;
  }
  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }
  h2,
  h3 {
    page-break-after: avoid;
  }
}
