---
layout: default
---
<div class="wrapper h-full-body">
    <div class="col-md-3 sidebar bg-2 no-padder">
        <div class="box">                
            <h5>Built with {{page.language}}</h5>
            <h3>{{page.title}}</h3>
            <h4>{{page.summary}}</h4>
            <ul class="links">
                <li><a href="{{page.github}}">Github</a></li>
            </ul>
        </div>
    </div>
    <div class="col-md-9 col-xs-12 bg-white h-full page-content">
    	{{ content }}
    </div>
</div>